 # Insurance call centre simulation - average inbound calls answered per hour

## Introduction

Call centres are an important and significant contributor to economies around the world with 2.7 million agents 
working in the United States and 2.1 million agents working in Europe, Africa and Middle East. [1] In Ireland alone, over 30,000
people are employed in call centres.  [2]

For the purposes of this simulation I will focus on an inbound call centre that handles insurance policy queries for customers.

A significant amount of research has been carried out on call centre arrival modelling for the schedulling 
and staffing of operators in call centres. As call centre operators can account for 60-80% of a call centres operating budget
it is important that operations can reliably forcast call volumes on a daily/weekly basis. [3]

Another reason call volume forecasting is critical to operations is meeting Service Level agreements (SLA). 
SLA(s) are commonly used for setting out how two parties have agreed that a specific service will be delivered 
by one party to another party, and the standards or levels to which the service will be delivered.

The following SLAs would be directly effected by call volumes:
    -  Abandon Rate: usually a percentage of total calls received where the customer abandons (hangs up) the call
    -  Average Speed of Answer: usually the percentage of calls answered within an agreed time period i.e. 20 seconds
    -  Average Time in Queue - total time callers wait in call queues divided by the total number of 
       calls answered by agents.
    
The above SLAs if not met can mean hefty financial penalties if the call centre has been contracted by another party to rendor 
the service and can be indicator of customer service and call centre efficiency.[4]

## Research study on call centres operations

One of the most commonly referenced research studies is that of Gann et al, "Telephone Call Centers: Tutorial, Review,
and Research Prospects". In this research paper, a comprehensive study of previous literature in the are area of call centre operations is discussed including the statistical methods used for call forecasting.[5]

The area of interest for my simulation is the use of the time series modelling and poisson distributions for modelling the
arrival rate of calls.

I will attempt to create a dataset that contains four variables, each possibly contributing to the the volume of calls received
in 15 minute intervals. 

For this simulation, I will create the variables using numpy.random package and will use calls data from an insurance 
call centre as the base for my simulation.

In [1]:
# import pandas library; pandas is a library used for data analysis and creating data structures in Python
import pandas as df

In [38]:
TV = df.read_csv("https://raw.githubusercontent.com/donalcarr85/Datasets/master/Monthly%20Data.csv")
TV["Date"] = df.to_datetime(TV['YearMonth'])

In [32]:
TV

   YearMonth       Date
0   2010-May 2010-05-01
1   2010-Jun 2010-06-01
2   2010-Jul 2010-07-01
3   2010-Aug 2010-08-01
4   2010-Sep 2010-09-01
5   2010-Oct 2010-10-01
6   2010-Nov 2010-11-01
7   2010-Dec 2010-12-01
8   2011-Jan 2011-01-01
9   2011-Feb 2011-02-01
10  2011-Mar 2011-03-01
11  2011-Apr 2011-04-01
12  2011-May 2011-05-01
13  2011-Jun 2011-06-01
14  2011-Jul 2011-07-01
15  2011-Aug 2011-08-01
16  2011-Sep 2011-09-01
17  2011-Oct 2011-10-01
18  2011-Nov 2011-11-01
19  2011-Dec 2011-12-01
20  2012-Jan 2012-01-01
21  2012-Feb 2012-02-01
22  2012-Mar 2012-03-01
23  2012-Apr 2012-04-01
24  2012-May 2012-05-01
25  2012-Jun 2012-06-01
26  2012-Jul 2012-07-01
27  2012-Aug 2012-08-01
28  2012-Sep 2012-09-01
29  2012-Oct 2012-10-01
..       ...        ...
70  2016-Mar 2016-03-01
71  2016-Apr 2016-04-01
72  2016-May 2016-05-01
73  2016-Jun 2016-06-01
74  2016-Jul 2016-07-01
75  2016-Aug 2016-08-01
76  2016-Sep 2016-09-01
77  2016-Oct 2016-10-01
78  2016-Nov 2016-11-01
79  2016-Dec 2016-12-01
80  2017-Jan 2017-01-01
81  2017-Feb 2017-02-01
82  2017-Mar 2017-03-01
83  2017-Apr 2017-04-01
84  2017-May 2017-05-01
85  2017-Jun 2017-06-01
86  2017-Jul 2017-07-01
87  2017-Aug 2017-08-01
88  2017-Sep 2017-09-01
89  2017-Oct 2017-10-01
90  2017-Nov 2017-11-01
91  2017-Dec 2017-12-01
92  2018-Jan 2018-01-01
93  2018-Feb 2018-02-01
94  2018-Mar 2018-03-01
95  2018-Apr 2018-04-01
96  2018-May 2018-05-01
97  2018-Jun 2018-06-01
98  2018-Jul 2018-07-01
99  2018-Aug 2018-08-01

[100 rows x 2 columns]

In [33]:
TV.dtypes

YearMonth            object
Date         datetime64[ns]
dtype: object

<bound method DataFrame.info of    YearMonth       Date
0   2010-May 2010-05-01
1   2010-Jun 2010-06-01
2   2010-Jul 2010-07-01
3   2010-Aug 2010-08-01
4   2010-Sep 2010-09-01
5   2010-Oct 2010-10-01
6   2010-Nov 2010-11-01
7   2010-Dec 2010-12-01
8   2011-Jan 2011-01-01
9   2011-Feb 2011-02-01
10  2011-Mar 2011-03-01
11  2011-Apr 2011-04-01
12  2011-May 2011-05-01
13  2011-Jun 2011-06-01
14  2011-Jul 2011-07-01
15  2011-Aug 2011-08-01
16  2011-Sep 2011-09-01
17  2011-Oct 2011-10-01
18  2011-Nov 2011-11-01
19  2011-Dec 2011-12-01
20  2012-Jan 2012-01-01
21  2012-Feb 2012-02-01
22  2012-Mar 2012-03-01
23  2012-Apr 2012-04-01
24  2012-May 2012-05-01
25  2012-Jun 2012-06-01
26  2012-Jul 2012-07-01
27  2012-Aug 2012-08-01
28  2012-Sep 2012-09-01
29  2012-Oct 2012-10-01
..       ...        ...
70  2016-Mar 2016-03-01
71  2016-Apr 2016-04-01
72  2016-May 2016-05-01
73  2016-Jun 2016-06-01
74  2016-Jul 2016-07-01
75  2016-Aug 2016-08-01
76  2016-Sep 2016-09-01
77  2016-Oct 2016-10-01
78  2016-Nov 2016-11-01
79  2016-Dec 2016-12-01
80  2017-Jan 2017-01-01
81  2017-Feb 2017-02-01
82  2017-Mar 2017-03-01
83  2017-Apr 2017-04-01
84  2017-May 2017-05-01
85  2017-Jun 2017-06-01
86  2017-Jul 2017-07-01
87  2017-Aug 2017-08-01
88  2017-Sep 2017-09-01
89  2017-Oct 2017-10-01
90  2017-Nov 2017-11-01
91  2017-Dec 2017-12-01
92  2018-Jan 2018-01-01
93  2018-Feb 2018-02-01
94  2018-Mar 2018-03-01
95  2018-Apr 2018-04-01
96  2018-May 2018-05-01
97  2018-Jun 2018-06-01
98  2018-Jul 2018-07-01
99  2018-Aug 2018-08-01

[100 rows x 2 columns]>